@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'Gilroy';
  src: url("../../public/media/fonts/Gilroy-Regular.ttf") format("opentype");
  font-weight:normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url("../../public/media/fonts/Gilroy-Light.ttf") format("opentype");
  font-weight:light;
}
@font-face {
  font-family: 'Gilroy';
  src: url("../../public/media/fonts/Gilroy-Bold.ttf") format("opentype");
  font-weight:bold; 
}
@font-face {
  font-family: 'Gilroy';
  src: url("../../public/media/fonts/Gilroy-RegularItalic.ttf") format("opentype");
  font-style:italic
}
h1,h2,h3,h4,h5,h6,p,span,ul,li,strong,b,a,div,button,textarea,input,select,option,form,fieldset,legend,table,td,th,tr,thead,tbody,tfoot,blockquote,pre,code,em,small,img,video,iframe,canvas,svg,article,aside,footer,header,nav,section{font-family:"Gilroy", Arial, sans-serif}

/* spin animation */
@-moz-keyframes spin {
  0% { -moz-transform:rotate(0deg)}
  50% { -moz-transform: rotate(360deg); }
  100%  { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform:rotate(0deg)}
  50% { -webkit-transform: rotate(360deg); }
  100%  { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform:rotate(0deg)}
  50% { transform: rotate(360deg); }
  100%  { transform: rotate(360deg); }
}
@keyframes fadeOut {
  from {opacity: 1}
  to {opacity: 0}
}
body {background:#131313;}
.hide-overflow {height:100vh; overflow:hidden;}
.spin-anim {animation-name:spin; animation-duration: 1500ms; animation-iteration-count: 2; animation-delay: 500ms;}
#splash {animation-name:fadeOut; animation-duration:0.5s; animation-delay:3s; backface-visibility:visible;}
#gold {background: linear-gradient(180deg, rgb(255, 255, 255), rgba(255, 168, 0, 0.5) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;}
#silver {background: linear-gradient(180deg, #FFF 0%, rgba(178, 178, 178, 0.00) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}
  #diamond {background: linear-gradient(180deg, #FFF 0%, rgba(0, 240, 255, 0.30) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}
    #goldsm {background: linear-gradient(180deg, rgb(197, 137, 8) 20%, rgb(157, 123, 57) 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;}
      .timeline svg {vertical-align:auto !important; display:inline-block !important}